@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
body 
{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-image: url('fundoindex.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'DynaPuff', cursive;
    color: #5d9eff;
    text-shadow: #2a3446 2px 2px 2px;
}
h1 {
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;     
    background-color: rgba(58, 71, 180, 0.8);
    padding: 10px;    
    margin: 0;       
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

.conteudo {
  margin-top: 60px;
    padding: 20px;
}

.primeirop {
    background: rgba(224, 247, 253, 0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}
.modelos {
    border-radius: 25px;
    background: rgba(171, 210, 255, 0.5);
    padding: 0px;
    width: 550px;
    height: 150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.aluguel {
    border-radius: 25px;
    background: rgba(171, 210, 255, 0.5);
    padding: 20px;
    width: 500px;
    height: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.contato {
    border-radius: 25px;
    background: rgba(171, 210, 255, 0.5);
    padding: 20px;
    width: 500px;
    height: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.cadastro {
    border-radius: 25px;
    background: rgba(171, 210, 255, 0.5);
    padding: 20px;
    width: 500px;
    height: 450px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

a{
    color: #0a355e;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #5d9eff;
}